/* Login */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
    
}

body {
    height: 100svh;
    width: 90%;
    margin: auto;
    background-color: #474747;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

.contido {
    display: flex;
    height: 550px;
    width: 300px;
    background-color: #FDC901;
    border-radius: 10px;
}

.alinhamento-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100svw;

}

.botao {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #fd9c01;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.4s;


}

.botao:hover {
    background-color: #994D1C;  
  
}

.logo {
    margin-bottom: 25px;
}

.controle-label {
    margin-bottom: 25px;
}

.input {
    padding: 15px;
    outline: none;
    border: none;
}
